<div class="pb-2">
    <mat-divider></mat-divider>
    <mat-card-content class="pt-3">
        <mat-card-subtitle>To WIN</mat-card-subtitle>
    </mat-card-content>
    <mat-card-actions>
        <div class="row row-cols-3 row-cols-md-2 w-100 mx-auto">
            <div class="col p-1 p-md-2">
                <button class="btn d-flex flex-column align-items-center custom-button">
                    <div>Team 1</div>
                    <div>1.2</div>
                </button>
            </div>
            <div class="col p-1 p-md-2">
                <button class="btn d-flex flex-column align-items-center custom-button">
                    <div>Team 1</div>
                    <div>1.2</div>
                </button>
            </div>
            <div class="col p-1 p-md-2">
                <button class="btn d-flex flex-column align-items-center custom-button">
                    <div>Team 1</div>
                    <div>1.2</div>
                </button>
            </div>
        </div>
    </mat-card-actions>
</div>